In [45]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import warnings
warnings.filterwarnings("ignore")

In [46]:
## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data', 'ebikes'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

France

In [47]:
file_path = os.path.join(raw_data_path, 'sold_in_france.xlsx')

france = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [48]:
france = france.drop(columns = {'Unnamed: 0'})
france = france.T
france = france.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [49]:
france['Data Source'] = 'Statista'
france['Technology Name'] = 'Electric Bicycles'
france['Spatial Scale'] = 'National'
france['Metric'] = 'Annual Production'
france['Country Name'] = 'France'
france['Country Code'] = coco.convert(names=france['Country Name'], to='iso2')
france = france.dropna(subset=['Country Code'])

france['ID'] = france['Technology Name'] + '_' + france['Metric'] + '_' + france['Country Code']
france = france.set_index('ID', drop = False)

In [50]:
output_file = 'france_ebikes.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

france.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/france_ebikes.csv

Germany

In [51]:
file_path = os.path.join(raw_data_path, 'sold_in_germany.xlsx')

germany = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [52]:
germany = germany.drop(columns = {'Unnamed: 0'})
germany = germany.T

In [53]:
germany = germany.apply(lambda x: x * 1000 if x.dtype == 'int' else x)
germany

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Unnamed: 2,410000,480000,540000,610000,720000,980000,1360000,1950000,2000000,2200000,2100000

In [54]:
germany['Data Source'] = 'Statista'
germany['Technology Name'] = 'Electric Bicycles'
germany['Spatial Scale'] = 'National'
germany['Metric'] = 'Annual Production'
germany['Country Name'] = 'Germany'
germany['Country Code'] = coco.convert(names=germany['Country Name'], to='iso2')
germany = germany.dropna(subset=['Country Code'])

germany['ID'] = germany['Technology Name'] + '_' + germany['Metric'] + '_' + germany['Country Code']
germany = germany.set_index('ID', drop = False)

germany

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Data Source,Technology Name,Spatial Scale,Metric,Country Name,Country Code,ID
ID,,,,,,,,,,,,,,,,,,
Electric Bicycles_Annual Production_DE,410000,480000,540000,610000,720000,980000,1360000,1950000,2000000,2200000,2100000,Statista,Electric Bicycles,National,Annual Production,Germany,DE,Electric Bicycles_Annual Production_DE

In [55]:
output_file = 'france_ebikes.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

france.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/france_ebikes.csv

Italy

In [56]:
file_path = os.path.join(raw_data_path, 'sold_in_italy.xlsx')

italy = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [57]:
italy = italy.drop(columns = {'Unnamed: 0'})
italy = italy.T

In [58]:
italy = italy.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)
italy

,2015,2016,2017,2018,2019,2020,2021,2022,2023
Unnamed: 2,56240.0,124250.0,148040.0,173060.0,195800.0,279190.0,295070.0,337030.0,416500.0

In [59]:
italy['Data Source'] = 'Statista'
italy['Technology Name'] = 'Electric Bicycles'
italy['Spatial Scale'] = 'National'
italy['Metric'] = 'Annual Production'
italy['Country Name'] = 'Italy'
italy['Country Code'] = coco.convert(names=italy['Country Name'], to='iso2')
italy = italy.dropna(subset=['Country Code'])

italy['ID'] = italy['Technology Name'] + '_' + italy['Metric'] + '_' + italy['Country Code']
italy = italy.set_index('ID', drop = False)

italy

,2015,2016,2017,2018,2019,2020,2021,2022,2023,Data Source,Technology Name,Spatial Scale,Metric,Country Name,Country Code,ID
ID,,,,,,,,,,,,,,,,
Electric Bicycles_Annual Production_IT,56240.0,124250.0,148040.0,173060.0,195800.0,279190.0,295070.0,337030.0,416500.0,Statista,Electric Bicycles,National,Annual Production,Italy,IT,Electric Bicycles_Annual Production_IT

In [60]:
output_file = 'italy_ebikes.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

italy.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/italy_ebikes.csv

Netherlands

In [61]:
file_path = os.path.join(raw_data_path, 'sold_in_netherlands.xlsx')

netherlands = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [62]:
netherlands = netherlands.drop(columns = {'Unnamed: 0'})
netherlands = netherlands.T

In [63]:
netherlands = netherlands.apply(lambda x: x * 1000 if x.dtype == 'int' else x)
netherlands

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Unnamed: 2,25000,37000,40000,84000,134000,154000,170000,180000,175000,192000,223000,276000,269000,294000,409000,420000,547000,478000,486000

In [64]:
netherlands['Data Source'] = 'Statista'
netherlands['Technology Name'] = 'Electric Bicycles'
netherlands['Spatial Scale'] = 'National'
netherlands['Metric'] = 'Annual Production'
netherlands['Country Name'] = 'Netherlands'
netherlands['Country Code'] = coco.convert(names=netherlands['Country Name'], to='iso2')
netherlands = netherlands.dropna(subset=['Country Code'])

netherlands['ID'] = netherlands['Technology Name'] + '_' + netherlands['Metric'] + '_' + netherlands['Country Code']
netherlands = netherlands.set_index('ID', drop = False)

netherlands

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2020,2021,2022,Data Source,Technology Name,Spatial Scale,Metric,Country Name,Country Code,ID
ID,,,,,,,,,,,,,,,,,,,,,
Electric Bicycles_Annual Production_NL,25000,37000,40000,84000,134000,154000,170000,180000,175000,192000,...,547000,478000,486000,Statista,Electric Bicycles,National,Annual Production,Netherlands,NL,Electric Bicycles_Annual Production_NL

In [65]:
output_file = 'netherlands_ebikes.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

netherlands.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/netherlands_ebikes.csv