In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
from openpyxl import load_workbook
import country_converter as coco

In [2]:
os.chdir('/Users/ariana/desktop/historical_tech')
mitchell = os.listdir('/Users/ariana/desktop/historical_tech/raw data/Mitchell_InternationalHistoricalStatistics')

reading_files = []
for file in mitchell:
     if '.xlsx' in file or '.xls' in file:
        reading_files.append(file)
reading_files.sort()
reading_files

['Acids_Africa.xlsx',
 'Acids_Americas.xlsx',
 'Acids_Asia.xlsx',
 'Acids_Europe.xlsx',
 'Acids_Oceania.xlsx',
 'Beer_Africa.xls',
 'Beer_Asia.xls',
 'Beer_Europe.xls',
 'Beer_North America.xls',
 'Beer_Oceania.xls',
 'Beer_South America.xls',
 'Crude Petroleum_Africa.xls',
 'Crude Petroleum_Asia.xlsx',
 'Crude Petroleum_Europe.xls',
 'Crude Petroleum_North America.xls',
 'Crude Petroleum_Oceania.xls',
 'Crude Petroleum_South America.xls',
 'GoldSilver_Africa.xlsx',
 'GoldSilver_Asia.xlsx',
 'GoldSilver_Oceania.xlsx',
 'Milk_Africa.xls',
 'Milk_Asia.xls',
 'Milk_Europe.xls',
 'Milk_North America.xls',
 'Milk_Oceania.xls',
 'Milk_South America.xls',
 'Nickel_All.xlsx',
 'Refining_Africa.xlsx',
 'Refining_Asia.xlsx',
 'Refining_NorthAmerica.xlsx',
 'Refining_Oceania.xlsx',
 'Refining_SouthAmerica.xlsx',
 'Sugar_Africa.xls',
 'Sugar_Asia.xls',
 'Sugar_Europe.xls',
 'Sugar_North America.xls',
 'SyntheticFilaments_Americas.xlsx',
 'SyntheticFilaments_AsiaAfricaOceania.xlsx',
 'SyntheticFilaments_Europe.xlsx']

In [3]:
def read_mitchell(file_relpath):
    file_name = 'raw data/Mitchell_InternationalHistoricalStatistics/' + file_relpath
    df = pd.ExcelFile(file_name)
    df_sheets = df.sheet_names
    drop_sheets = ['Sheet1', 'Sheet2', 'Sheet3', 'Sheet7', 'All', 'Copy All', 'All Copy']
    for item in drop_sheets:
        if item in df_sheets:
            df_sheets.remove(item)
    df_list = [] 
    for sheet in df_sheets:
        df = pd.read_excel(file_name, sheet_name=sheet, usecols=[0,2,3], na_values = ['—', '...', '- -','…'])
        df.dropna(subset=df.columns[1], inplace=True)
        df[df.columns[1]] = df[df.columns[1]].astype(int)
        df.set_index(df.columns[1], inplace=True)
        country_name = df[df.columns[0]].iloc[0]
        technology_unit = df.columns[-1]
        cutoff = technology_unit.index('(')
        technology_name = technology_unit[:cutoff]
        technology_name = technology_name.strip()
        if technology_name == 'Copper' or technology_name == 'Lead':
            continue
        unit = technology_unit[cutoff:]
        unit = unit.strip('()')
        unit = unit.title()
        df.drop(columns=df.columns[0], inplace=True)
        df = df.transpose()
        df.columns.name = None
        df['Unit'] = unit.lower()
        df['Technology Name'] = technology_name
        df['Country Name'] = country_name
        if country_name == 'Phillipines' or country_name=='Phillipine':
            country_code = 'PH'
        elif country_name == 'Yugoslavia':
            country_code = 'YU'
        elif country_name == 'East Germany':
            country_code = 'DEU'
        elif country_name == 'West Germany':
            country_code = 'DD'
        elif country_name == 'UAE':
            country_code = 'AE'
        elif country_name == 'Southern Vietnam':
            country_code = 'VNM'
        elif country_name == 'Kyrgistan':
            country_code = 'KG'
        elif country_name == 'USSR':
            country_code = 'SU'
        elif country_name == 'Czechoslovakia':
            country_code = 'CSK'
        elif country_name == 'Korea':
            country_code = 'KOR'
        else:
            country_code = coco.convert(names=country_name, to='iso2')
        df['Country Code'] = country_code
        df['Spatial Scale'] = 'National'
        df['Data Source'] = 'Mitchell'
        df['Metric'] = 'Annual Production'
        df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
        df.set_index('ID', drop=True, inplace=True)
        df.to_csv('raw data/mitchell_processing/' + sheet + '.csv')

In [4]:
for file in reading_files:
    read_mitchell(file)

In [5]:
mitchell_processing = os.listdir('/Users/ariana/desktop/historical_tech/raw data/mitchell_processing')
len(mitchell_processing)

493

In [6]:
for file in mitchell_processing:
    if '.csv' not in file:
        mitchell_processing.remove(file)

In [7]:
len(mitchell_processing)

492

In [8]:
frame = pd.read_csv('cleaned data/frame.csv')

In [9]:
# don't use default na, this erroneously converts 'NA' (iso code for Namibia) to a missing value
# I manually input all the default na vals except for 'NA' to prevent this
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df_list = [frame]
for file in mitchell_processing:
    file = 'raw data/mitchell_processing/' + file
    file = pd.read_csv(file, keep_default_na=False, na_values=['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', 
                                                               '#N/A N/A', '#N/A', 'N/A', 'n/a', '<NA>', '#NA', 
                                                               'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', 
                                                               'None', '','—', '...', '- -','…','···','··· ',
                                                              '--', '... ', '… '])
    df_list.append(file)

In [10]:
all_mitchell = pd.concat(df_list)
all_mitchell.replace({'Caustic Soda':'Caustic Soda Acid', 'Synthetic Filaments':'Artificial and Synthetic Fibers',
                      'Beer': 'Beer Production',
                      "in thousands of hectolitres": "thousand hectolitres",
                     "in thousand hectolitres": "thousand hectolitres",
                     "thousands metric tons": "thousand metric tons",
                     'in million tons':'million tons','in thousand metric tons':'thousand metric tons',
                       'in millions of metric tons':'million metric tons',
                      'in thousands of metric tons':'thousand metric tons','in thousands of tons':'thousand tons'},
                     inplace=True)
all_mitchell

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Tin_Annual Production_ID,National,ID,Indonesia,Tin,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sulphuric Acid_Annual Production_CA,National,CA,Canada,Sulphuric Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Beer_Annual Production_TM,National,TM,Turkmenistan,Beer Production,Annual Production,thousand hectolitres,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Crude Petroleum_Annual Production_MM,National,MM,Myanmar,Crude Petroleum,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Beer_Annual Production_CL,National,CL,Chile,Beer Production,Annual Production,thousand hectolitres,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Beer_Annual Production_BO,National,BO,Bolivia,Beer Production,Annual Production,thousand hectolitres,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sugar Output_Annual Production_MX,National,MX,Mexico,Sugar Output,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Milk_Annual Production_SY,National,SY,Syria,Milk,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Milk_Annual Production_IR,National,IR,Iran,Milk,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Beer_Annual Production_MW,National,MW,Malawi,Beer Production,Annual Production,thousand hectolitres,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
all_mitchell[all_mitchell['Technology Name']=='Caustic Soda Acid']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Caustic Soda_Annual Production_AU,National,AU,Australia,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_PK,National,PK,Pakistan,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_IN,National,IN,India,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_AR,National,AR,Argentina,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_BR,National,BR,Brazil,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_JP,National,JP,Japan,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda Acid_Annual Production_US,National,US,United States of America,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_EG,National,EG,Egypt,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_TR,National,TR,Turkey,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_CN,National,CN,China,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_IL,National,IL,Israel,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_KR,National,KR,South Korea,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_CA,National,CA,Canada,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_MX,National,MX,Mexico,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Caustic Soda_Annual Production_DZ,National,DZ,Algeria,Caustic Soda Acid,Annual Production,thousand metric tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
set(all_mitchell['Unit'])

{'metric tons',
 'million metric tons',
 'million tons',
 'thousand hectolitres',
 'thousand metric tons',
 'thousand tons'}

In [13]:
all_mitchell.to_csv('cleaned data/mitchell.csv', index=False)