In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame

Data sources:
- https://pure.iiasa.ac.at/id/eprint/10749/1/IR-13-008.pdf
- digitized from figures 16-18

In [2]:
## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))


## Find path to folder for inflation
inflation_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'inflation'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

In [3]:

target_inflation_file = "/A001RG3A086NBEA.xls"
target_inflation_filepath = inflation_data_path + target_inflation_file

target_file = "/cost data/healey/fig17-19 digitized.csv"
target_filepath = raw_data_path + target_file

In [4]:
## adjusting for inflation from 1982 USD to 2022 USD
nipa = pd.read_excel(target_inflation_filepath, header=10)

year_list = []
for x in nipa['observation_date']:
    x = int(str(x)[:4])
    year_list.append(x)
nipa['Year'] = year_list
nipa.set_index('Year', drop=True, inplace=True)
nipa.drop(columns='observation_date', inplace=True)
nipa = nipa.transpose()

infl_1982_2022 = float(nipa[2022]/nipa[1982])
infl_1982_2022

/var/folders/cy/xd4mmw610b3cr6tjgv0h8hlr0000gn/T/ipykernel_29514/3916700581.py:13: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  infl_1982_2022 = float(nipa[2022]/nipa[1982])

2.5938455891349568

In [5]:
fgd = pd.read_csv(target_filepath, index_col=0)
fgd = fgd.transpose()
fgd.iloc[0] = fgd.iloc[0] * infl_1982_2022
fgd['Unit'] = '2022 USD/MW'
fgd['Data Source'] = 'Healey'
fgd['Spatial Scale'] = 'Global'
fgd['Country Code'] = 'World'
fgd['Country Name'] = 'World'
fgd['Metric'] = 'Price'
fgd['Technology Name'] = 'Flue Gas Desulphurization (Wet and Dry)'
fgd['ID'] = fgd['Technology Name'] + '_' + fgd['Metric'] + '_' + fgd['Country Code']
fgd.set_index('ID', drop=True, inplace=True)
fgd.columns.name = None
fgd

,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2008,2009,2010,Unit,Data Source,Spatial Scale,Country Code,Country Name,Metric,Technology Name
ID,,,,,,,,,,,,,,,,,,,,,
Flue Gas Desulphurization (Wet and Dry)_Price_World,68.660619,68.660619,9.80866,307.338007,467.546117,225.599175,225.599175,451.19835,415.233264,304.068454,...,455.297055,790.037955,464.521622,2022 USD/MW,Healey,Global,World,World,Price,Flue Gas Desulphurization (Wet and Dry)

In [6]:
output_file = 'fgd_price.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

fgd.to_csv(output_file_path)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/fgd_price.csv