In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import warnings
warnings.filterwarnings("ignore")

Data sources:

World Bank Indicators, Indicator Code IT.NET.USER.ZS

In [2]:
## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

In [3]:
internetshare_path = os.path.join(raw_data_path, 'worldbank_internetusersshare.xls')
internetshare = pd.read_excel(internetshare_path, sheet_name= 'Data', header = 3)

In [4]:
columns_to_drop = ['Country Code', 'Indicator Name', 'Indicator Code']
internetshare = internetshare.drop(columns=columns_to_drop)

In [5]:
internetshare

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.780000,88.661227,93.542454,97.170000,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.237716,14.485849,15.753330,17.310987,20.063024,22.589591,24.988401,27.660654,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,8.260000,11.000000,13.500000,16.800000,17.600000,18.400000,NaN,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.923441,18.109485,22.869750,27.081219,32.089337,35.276448,41.749819,46.990497,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.400000,22.000000,23.200000,26.000000,29.000000,32.129392,32.550147,32.602302,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.893597,89.443032,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.550000,24.085409,24.579208,26.718355,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.000000,51.919116,54.000000,56.167394,62.400000,69.696875,70.320310,72.310492,NaN,NaN
264,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.500000,8.800000,10.300000,12.200000,14.299997,16.800000,18.051915,21.231531,NaN,NaN
265,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.364740,22.742818,23.119989,24.400000,25.000000,26.588274,29.298565,34.813971,NaN,NaN

In [6]:
internetshare['Data Source'] = 'World Bank Indicators'
internetshare['Technology Name'] = 'Household Internet Access'
internetshare['Spatial Scale'] = 'National'
internetshare['Metric'] = 'Share of Households'
internetshare['Unit'] = '%'
internetshare['Country Code'] = coco.convert(names=internetshare['Country Name'], to='iso2')
internetshare = internetshare.dropna(subset=['Country Code'])

Africa Eastern and Southern not found in regex
Africa Western and Central not found in regex
Arab World not found in regex
Central Europe and the Baltics not found in regex
Channel Islands not found in regex
Caribbean small states not found in regex
East Asia & Pacific ( not found in regex
Early-demographic dividend not found in regex
East Asia & Pacific not found in regex
Europe & Central Asia ( not found in regex
Europe & Central Asia not found in regex
Euro area not found in regex
European Union not found in regex
Fragile and conflict affected situations not found in regex
High income not found in regex
Heavily indebted poor countries (HIPC) not found in regex
IBRD only not found in regex
IDA & IBRD total not found in regex
IDA total not found in regex
IDA blend not found in regex
IDA only not found in regex
Not classified not found in regex
Latin America & Caribbean ( not found in regex
Latin America & Caribbean not found in regex
Least developed countries: UN classification not found in regex
Low income not found in regex
Lower middle income not found in regex
Low & middle income not found in regex
Late-demographic dividend not found in regex
Middle East & North Africa not found in regex
Middle income not found in regex
Middle East & North Africa ( not found in regex
North America not found in regex
OECD members not found in regex
Other small states not found in regex
Pre-demographic dividend not found in regex
Pacific island small states not found in regex
Post-demographic dividend not found in regex
South Asia not found in regex
Sub-Saharan Africa ( not found in regex
Sub-Saharan Africa not found in regex
Small states not found in regex
East Asia & Pacific (IDA & IBRD countries) not found in regex
Europe & Central Asia (IDA & IBRD countries) not found in regex
Latin America & the Caribbean (IDA & IBRD countries) not found in regex
Middle East & North Africa (IDA & IBRD countries) not found in regex
South Asia (IDA & IBRD) not found in regex
Sub-Saharan Africa (IDA & IBRD countries) not found in regex
Upper middle income not found in regex
World not found in regex

In [7]:
#Filter out regions that are not countries
internetshare_filtered = internetshare[internetshare['Country Code'] != 'not found']
internetshare = internetshare.merge(internetshare_filtered[['Country Code']], on='Country Code', how='inner')
internetshare

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2020,2021,2022,2023,Data Source,Technology Name,Spatial Scale,Metric,Unit,Country Code
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,AW
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.400000,NaN,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,AF
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.550147,32.602302,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,AO
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.237677,79.323718,82.613686,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,AL
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,93.205649,93.897522,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,XK
212,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,YE
213,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.320310,72.310492,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,ZA
214,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.051915,21.231531,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,ZM
215,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.298565,34.813971,NaN,NaN,World Bank Indicators,Household Internet Access,National,Share of Households,%,ZW

In [8]:
internetshare['ID'] = internetshare['Technology Name'] + '_' + internetshare['Metric'] + '_' + internetshare['Country Code']
internetshare.set_index('ID', inplace=True, drop = False)

In [9]:
output_file = 'internetshare.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

internetshare.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/internetshare.csv