In [59]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import warnings
warnings.filterwarnings("ignore")

Data source: Statista
Files: 
- Austria
- Czechia
- Germany
- Netherlands
- Norway
- Poland
- Switzerland

In [60]:
## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data', 'ashp'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

Austria

In [61]:
file_path = os.path.join(raw_data_path, 'austria.xlsx')

austria = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [62]:

# Sum heat pumps
austria['Total ASHPs'] = austria['Heat pumps for domestic hot water'] + austria['Heat pumps for space heating']

# only include ASHPs for hot water heating or space heating
austria = austria.drop(columns = {'Unnamed: 0', 'Heat pumps for ventilation', 'Industrial heat pumps', 'Heat pumps for domestic hot water', 'Heat pumps for space heating'})

# Transpose
austria = austria.T

# Multiply value by 1000

austria = austria.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [69]:

austria['Data Source'] = 'Statista'
austria['Technology Name'] = 'Air-Source Heat Pumps'
austria['Spatial Scale'] = 'National'
austria['Metric'] = 'Annual Production'
austria['Country Name'] = 'Austria'
austria['Country Code'] = coco.convert(names=austria['Country Name'], to='iso2')
austria = austria.dropna(subset=['Country Code'])

austria['ID'] = austria['Technology Name'] + '_' + austria['Metric'] + '_' + austria['Country Code']
austria = austria.set_index('ID', drop = False)

In [70]:
output_file = 'austria_ashp.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

austria.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/austria_ashp.csv

Czechia

In [65]:
file_path = os.path.join(raw_data_path, 'czechia.xlsx')

czechia = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [66]:
# only include ASHPs for hot water heating or space heating
czechia = czechia.drop(columns = {'Unnamed: 0', 'Ground-water', 'Air-exhaust water', 'Water-water'})

# Transpose
czechia = czechia.T

# Multiply value by 1000

czechia = czechia.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [71]:
czechia['Data Source'] = 'Statista'
czechia['Technology Name'] = 'Air-Source Heat Pumps'
czechia['Spatial Scale'] = 'National'
czechia['Metric'] = 'Annual Production'
czechia['Country Name'] = 'Czechia'
czechia['Country Code'] = coco.convert(names=czechia['Country Name'], to='iso2')
czechia = czechia.dropna(subset=['Country Code'])

czechia['ID'] = czechia['Technology Name'] + '_' + czechia['Metric'] + '_' + czechia['Country Code']
czechia.set_index('ID', drop = False, inplace = True)

In [72]:
output_file = 'czechia_ashp.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

czechia.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/czechia_ashp.csv

Germany

In [102]:
file_path = os.path.join(raw_data_path, 'germany.xlsx')

germany = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [103]:
germany = germany.drop(columns = 'Unnamed: 0')
germany = germany.T
# Convert because the data is in 1000s
germany = germany.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [105]:

germany['Data Source'] = 'Statista'
germany['Technology Name'] = 'Air-Source Heat Pumps'
germany['Spatial Scale'] = 'National'
germany['Metric'] = 'Annual Production'
germany['Country Name'] = 'Germany'
germany['Country Code'] = coco.convert(names=germany['Country Name'], to='iso2')
germany['ID'] = germany['Technology Name'] + '_' + germany['Metric'] + '_' + germany['Country Code']
germany = germany.set_index('ID', drop = False)

germany

In [109]:
output_file = 'germany_ashp.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

germany.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/germany_ashp.csv

Netherlands

In [118]:
file_path = os.path.join(raw_data_path, 'netherlands.xlsx')
netherlands = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [119]:
netherlands = netherlands.drop(columns = 'Unnamed: 0')
netherlands = netherlands.T
# Convert because the data is in 1000s
netherlands = netherlands.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [121]:
netherlands['Data Source'] = 'Statista'
netherlands['Technology Name'] = 'Air-Source Heat Pumps'
netherlands['Spatial Scale'] = 'National'
netherlands['Metric'] = 'Annual Production'
netherlands['Country Name'] = 'Netherlands'
netherlands['Country Code'] = coco.convert(names=netherlands['Country Name'], to='iso2')
netherlands['ID'] = netherlands['Technology Name'] + '_' + netherlands['Metric'] + '_' + netherlands['Country Code']
netherlands = netherlands.set_index('ID', drop = False)

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2019,2020,2021,Data Source,Technology Name,Spatial Scale,Metric,Country Name,Country Code,ID
ID,,,,,,,,,,,,,,,,,,,,,
Air-Source Heat Pumps_Annual Production_NL,0.0,100.0,100.0,1400.0,1700.0,900.0,900.0,1500.0,3900.0,4000.0,...,166000.0,379800.0,368100.0,Statista,Air-Source Heat Pumps,National,Annual Production,Netherlands,NL,Air-Source Heat Pumps_Annual Production_NL

In [122]:
output_file = 'netherlands_ashp.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

netherlands.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/netherlands_ashp.csv

Norway

In [124]:
file_path = os.path.join(raw_data_path, 'norway.xlsx')
norway = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

      Unnamed: 0  Unnamed: 2
2011         NaN       86.95
2012         NaN       67.23
2013         NaN       62.62
2014         NaN       57.62
2015         NaN       65.33
2016         NaN       66.53
2017         NaN       76.33
2018         NaN       95.22
2019         NaN      101.19
2020         NaN       89.79
2021         NaN      120.91
2022         NaN      151.18
2023         NaN      151.26

In [125]:
norway = norway.drop(columns = 'Unnamed: 0')
norway = norway.T
# Convert because the data is in 1000s
norway = norway.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [127]:
norway['Data Source'] = 'Statista'
norway['Technology Name'] = 'Air-Source Heat Pumps'
norway['Spatial Scale'] = 'National'
norway['Metric'] = 'Annual Production'
norway['Country Name'] = 'Norway'
norway['Country Code'] = coco.convert(names=norway['Country Name'], to='iso2')
norway['ID'] = norway['Technology Name'] + '_' + norway['Metric'] + '_' + norway['Country Code']
norway = norway.set_index('ID', drop = False)

In [129]:
output_file = 'norway_ashp.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

norway.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/norway_ashp.csv

Poland

In [136]:
file_path = os.path.join(raw_data_path, 'poland.xlsx')
poland = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [138]:
poland['Total ASHPs'] = poland['air/water (heating)'] + poland['air/water (hot water)']
poland = poland.drop(columns = {'Unnamed: 0', 'brine/water (heating)', 'air/water (heating)', 'air/water (hot water)'})
poland = poland.T

In [142]:
poland['Data Source'] = 'Statista'
poland['Technology Name'] = 'Air-Source Heat Pumps'
poland['Spatial Scale'] = 'National'
poland['Metric'] = 'Annual Production'
poland['Country Name'] = 'Poland'
poland['Country Code'] = coco.convert(names=poland['Country Name'], to='iso2')
poland['ID'] = poland['Technology Name'] + '_' + poland['Metric'] + '_' + poland['Country Code']
poland = poland.set_index('ID', drop = False)

In [143]:
output_file = 'poland_ashp.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

poland.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,...,2021,2022,2023,Data Source,Technology Name,Spatial Scale,Metric,Country Name,Country Code,ID
ID,,,,,,,,,,,,,,,,,,,,,
Air-Source Heat Pumps_Annual Production_PL,3560,6000,7280,9920,10810,12710,13770,17360,20470,30530,...,87000,196100,116330,Statista,Air-Source Heat Pumps,National,Annual Production,Poland,PL,Air-Source Heat Pumps_Annual Production_PL

Switzerland

In [160]:
file_path = os.path.join(raw_data_path, 'switzerland.xlsx')
switzerland = pd.read_excel(file_path,sheet_name = 'Data', header = 4, index_col=1)

In [161]:
switzerland['Total ASHPs'] = switzerland['For space heating'] + switzerland['For water heating']
switzerland = switzerland.drop(columns = {'Unnamed: 0', 'For space heating', 'For water heating'})
switzerland = switzerland.T
switzerland = switzerland.apply(lambda x: x * 1000 if x.dtype == 'float64' else x)

In [162]:
switzerland['Data Source'] = 'Statista'
switzerland['Technology Name'] = 'Air-Source Heat Pumps'
switzerland['Spatial Scale'] = 'National'
switzerland['Metric'] = 'Annual Production'
switzerland['Country Name'] = 'Switzerland'
switzerland['Country Code'] = coco.convert(names=switzerland['Country Name'], to='iso2')
switzerland['ID'] = switzerland['Technology Name'] + '_' + switzerland['Metric'] + '_' + switzerland['Country Code']
switzerland = switzerland.set_index('ID', drop = False)

In [164]:
output_file = 'switzerland_ashp.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

switzerland.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/switzerland_ashp.csv