In [7]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import os

Original data source
- https://www.bts.gov/archive/publications/national_transportation_statistics/table_01_10

Find file paths

In [8]:
## Get current working directory
print("Current working directory:", os.getcwd())

## Find path to raw data (for the raw files)
raw_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'raw_data'))

## Find path to folder for saving cleaned csv
cleaned_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'cleaned_data'))

## Find path to folder for inflation
inflation_data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'inflation'))

Current working directory: /Users/jennagreene/Documents/GitHub/HATCH_data/reading_files

In [9]:
# Find and read the CSV file from the raw_data folder
target_file = 'table_01_10_011823.xlsx'
target_file_path = os.path.join(raw_data_path, target_file)

In [10]:
bts = pd.read_excel(target_file_path, 
                    sheet_name='1-10', header=1, na_values='N')
bts = bts[(bts['Unnamed: 0'] == 'Oil pipeline, total') | (bts['Unnamed: 0'] == 'Gas pipelinea, total')]
bts['Data Source'] = 'BTS'
bts['Unit'] = 'miles'
bts['Metric'] = 'Total Length'
bts['Spatial Scale'] = 'National'
bts['Country Name'] = 'United States'
bts['Country Code'] = 'US'
bts['Technology Name'] = ['Oil Pipeline', 'Natural Gas Pipeline']
bts.drop(columns='Unnamed: 0', inplace=True)
bts['ID'] = bts['Technology Name'] + '_' + bts['Metric'] + '_' + bts['Country Code']
bts

,1960,1965,1970,1975,1980,1985,1990,1991,1992,1993,...,2020,2021,Data Source,Unit,Metric,Spatial Scale,Country Name,Country Code,Technology Name,ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229395.447,229888.106,BTS,miles,Total Length,National,United States,US,Oil Pipeline,Oil Pipeline_Total Length_US
3,630900.0,767500.0,913300.0,979300.0,1051800.0,1110785.0,1270295.0,1217451.0,1216081.0,1276303.4,...,1649058.530,1659644.627,BTS,miles,Total Length,National,United States,US,Natural Gas Pipeline,Natural Gas Pipeline_Total Length_US

Save file

In [11]:
output_file = 'bts.csv'
output_file_path = os.path.join(cleaned_data_path, output_file)

bts.to_csv(output_file_path, index = False)
print("Data saved to:", output_file_path)

Data saved to: /Users/jennagreene/Documents/GitHub/HATCH_data/cleaned_data/bts.csv