In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import os

In [2]:
# https://www.bts.gov/archive/publications/national_transportation_statistics/table_01_10

In [3]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [4]:
bts = pd.read_excel('raw data/table_01_10_011823.xlsx', sheet_name='1-10', header=1, na_values='N')
bts = bts[(bts['Unnamed: 0'] == 'Oil pipeline, total') | (bts['Unnamed: 0'] == 'Gas pipelinea, total')]
bts['Data Source'] = 'BTS'
bts['Unit'] = 'miles'
bts['Metric'] = 'Total Length'
bts['Spatial Scale'] = 'National'
bts['Country Name'] = 'United States'
bts['Country Code'] = 'US'
bts['Technology Name'] = ['Oil Pipeline', 'Natural Gas Pipeline']
bts.drop(columns='Unnamed: 0', inplace=True)
bts['ID'] = bts['Technology Name'] + '_' + bts['Metric'] + '_' + bts['Country Code']
bts

,1960,1965,1970,1975,1980,1985,1990,1991,1992,1993,...,2020,2021,Data Source,Unit,Metric,Spatial Scale,Country Name,Country Code,Technology Name,ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229395.447,229888.106,BTS,miles,Total Length,National,United States,US,Oil Pipeline,Oil Pipeline_Total Length_US
3,630900.0,767500.0,913300.0,979300.0,1051800.0,1110785.0,1270295.0,1217451.0,1216081.0,1276303.4,...,1649058.530,1659644.627,BTS,miles,Total Length,National,United States,US,Natural Gas Pipeline,Natural Gas Pipeline_Total Length_US

In [5]:
bts.to_csv('cleaned data/bts.csv', index=False)