In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
os.chdir('/Users/ariana/desktop/historical_tech')

In [3]:
# https://www.ipcc.ch/report/ar6/wg3/

In [4]:
# just col P, csp_cum_mw

csp = pd.read_csv('raw data/Nemet_CSPOffshoreWind_TimeSeries.csv', header=5, index_col=0, usecols=[1,15],
                  dtype={'csp_cum_mw':float}, na_values='  ')
csp = csp[:-14]
csp.dropna(inplace=True)
csp = csp.transpose()
csp

year,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
csp_cum_mw,7,14,44,104,134,194,274,354,354,354,...,"2,567","3,842","4,499","4,750","4,860","4,959","5,674","6,275","6,925","7,625"

In [5]:
csp['Country Name'] = 'World'
csp['Country Code'] = 'World'
csp['Spatial Scale'] = 'Global'
csp['Data Source'] = 'IPCC'
csp['Metric'] = 'Installed Capacity'
csp['Unit'] = 'MW'
csp['Technology Name'] = 'Concentrated Solar Power'
csp['ID'] = csp['Technology Name'] + '_' + csp['Metric'] + '_' + csp['Country Code']
csp.set_index('ID', drop=True, inplace=True)
csp.to_csv('cleaned data/nemet_csp.csv')

In [6]:
# use col BK, CCS_cum
ccs = pd.read_csv('raw data/NEMET_RenewableAdoption_TimeSeries.csv', header=7, index_col=0, usecols=[0,62],
                  dtype={'CCS_cum':float}, na_values=' -   ')
ccs.dropna(inplace=True)
ccs = ccs.transpose()
ccs

year,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
CCS_cum,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,21.3,21.3,21.3,27.2,28.2,30.0,30.8,33.2,33.8,37.5

In [7]:
ccs['Country Name'] = 'World'
ccs['Country Code'] = 'World'
ccs['Spatial Scale'] = 'Global'
ccs['Data Source'] = 'IPCC'
ccs['Metric'] = 'Installed Capacity'
ccs['Unit'] = 'GW'
ccs['Technology Name'] = 'Carbon Capture and Sequestration'
ccs['ID'] = ccs['Technology Name'] + '_' + ccs['Metric'] + '_' + ccs['Country Code']
ccs.set_index('ID', drop=True, inplace=True)
ccs.to_csv('cleaned data/nemet_ccs.csv')