In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import os

In [2]:
# https://www.eia.gov/energyexplained/natural-gas/liquefied-natural-gas.php

In [3]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [4]:
eia = pd.read_csv('raw data/lng-imports-exports.csv', header=5, index_col=0, usecols=[0, 2])
eia = eia.transpose()
eia['Technology Name'] = 'Liquefied Natural Gas'
eia['Data Source'] = 'EIA'
eia['Unit'] = 'billion cubic feet'
eia['Metric'] = 'Annual Production'
eia['Country Name'] = 'United States'
eia['Spatial Scale'] = 'National'
eia['Country Code'] = 'US'
eia['ID'] = eia['Technology Name'] + '_' + eia['Metric'] + '_' + eia['Country Code']
eia

,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2020,2021,Technology Name,Data Source,Unit,Metric,Country Name,Spatial Scale,Country Code,ID
exports,52.88,50.17,48.6,51.57,51.42,52.55,54.01,52.53,55.99,62.68,...,2389.84,3560.82,Liquefied Natural Gas,EIA,billion cubic feet,Annual Production,United States,National,US,Liquefied Natural Gas_Annual Production_US

In [5]:
eia.to_csv('cleaned data/eia.csv', index=False)