In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame

In [2]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [3]:
# https://doi.org/10.1016/j.scitotenv.2018.12.076
# digitized from figure 3 using https://apps.automeris.io/wpd/

In [4]:
desalination = pd.read_csv('raw data/Desalination_TimeSeries.csv', index_col=0, usecols=[1,5])
desalination = desalination.transpose()
desalination['Data Source'] = 'Jones et al.'
desalination['Country Name'] = 'World'
desalination['Country Code'] = 'World'
desalination['Spatial Scale'] = 'Global'
desalination['Metric'] = 'Total Capacity'
desalination['Technology Name'] = 'Desalination Capacity'
desalination['Unit'] = 'million cubic meters/day'
desalination['ID'] = desalination['Technology Name'] + '_' + desalination['Metric'] + '_' + desalination['Country Code']
desalination.set_index('ID', drop=True, inplace=True)
desalination.columns.name = None
desalination

,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,
Desalination Capacity_Total Capacity_World,0.0,0.0,0.0,0.0,0.0,3.5,7.0,11.0,21.3,30.2,50.4,76.0,95.4,Jones et al.,World,World,Global,Total Capacity,Desalination Capacity,million cubic meters/day

In [5]:
desalination.to_csv('cleaned data/desalination.csv')