In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import os

In [2]:
# https://fred.stlouisfed.org/series/A02F2AUSA374NNBR
# https://fred.stlouisfed.org/graph/fredgraph.xls?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1318&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=A02F2AUSA374NNBR&scale=left&cosd=1830-01-01&coed=1952-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=lin&fgsnd=1952-01-01&line_index=1&transformation=lin&vintage_date=2023-03-25&revision_date=2023-03-25&nd=1830-01-01

In [3]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [4]:
rail = pd.read_excel('raw data/A02F2AUSA374NNBR.xls')
source = rail.iloc[0][0]
rail = rail[10:]
years = []
for year in rail['FRED Graph Observations']:
    year = str(year)
    years.append(year[:4])
cumsum = rail['Unnamed: 1'].cumsum()
cumsum = list(cumsum)
rail = pd.DataFrame(cumsum, years)
rail = rail.transpose()
rail['Data Source'] = source
rail['Technology Name'] = 'Railroad'
rail['Unit'] = 'Miles'
rail['Country Name'] = 'United States'
rail['Country Code'] = 'US'
rail['Spatial Scale'] = 'National'
rail['Metric'] = 'Total Length'
rail['ID'] = rail['Technology Name'] + '_' + rail['Metric'] + '_' + rail['Country Code']
rail

,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,...,1951,1952,Data Source,Technology Name,Unit,Country Name,Country Code,Spatial Scale,Metric,ID
0,40,139,330,446,660,798,1078,1426,1879,2265,...,270590,270706,Federal Reserve Economic Data,Railroad,Miles,United States,US,National,Total Length,Railroad_Total Length_US

In [5]:
#drop, dup in CHAT
#rail.to_csv('cleaned data/fred.csv', index=False)