In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [3]:
def read_iiasa(header, usecols, skipfooter=0):
    iiasa = pd.read_excel('raw data/IR_09_029_Online_Material_2.xls', sheet_name=2, header=header, usecols=usecols, skipfooter=skipfooter)
    iiasa.dropna(how='all', inplace=True)
    cols = list(iiasa.columns[0:4])
    iiasa.rename(columns={cols[0]: 'Technology Name', cols[1]: 'Country Name', cols[2]: 'Metric', cols[3]: 'Unit'}, inplace=True) 
    iiasa = iiasa[(iiasa['Country Name']=='Global (All Manufacturers)') | (iiasa['Country Name']=='Boeing') | (iiasa['Country Name']=='US') | (iiasa['Country Name']=='Global') | (iiasa['Country Name']=='Denmark') | (iiasa['Country Name']=='China')]
    iiasa['Data Source'] = 'Wilson & Grubler'
    iiasa['Country Code'] = None
    iiasa['Spatial Scale'] = None
    for idx in iiasa.index:
        if (iiasa['Country Name'].loc[idx] == 'Global') | (iiasa['Country Name'].loc[idx] == 'Global (All Manufacturers)'):
            iiasa['Country Name'].loc[idx] = 'World'
            iiasa['Country Code'].loc[idx] = 'World'
            iiasa['Spatial Scale'].loc[idx] = 'Global'
        elif (iiasa['Country Name'].loc[idx] == 'US') | (iiasa['Country Name'].loc[idx] == 'Boeing'):
            iiasa['Country Code'].loc[idx] = 'US'
            iiasa['Spatial Scale'].loc[idx] = 'National'
        elif iiasa['Country Name'].loc[idx] == 'Denmark':
            iiasa['Country Code'].loc[idx] = 'DK'
            iiasa['Spatial Scale'].loc[idx] = 'National'
        elif iiasa['Country Name'].loc[idx] == 'China':
            iiasa['Country Code'].loc[idx] = 'CN'
            iiasa['Spatial Scale'].loc[idx] = 'National'
    if iiasa['Technology Name'].iloc[0]=='FCC-Refineries':
        iiasa.replace({'FCC-Refineries':'Fluid Catalytic Cracking Refineries'},inplace=True)
    elif iiasa['Technology Name'].iloc[0]=='CFLs':
        iiasa.replace({'CFLs':'Compact Fluorescent Light Bulbs'},inplace=True)
    elif iiasa['Technology Name'].iloc[0]=='NatGas Power':
        iiasa.replace({'NatGas Power':'Natural Gas Power'},inplace=True)
    iiasa['ID'] = iiasa['Technology Name'] + '_' + iiasa['Metric'] + '_' + iiasa['Country Code']
    return iiasa

In [4]:
fcc = read_iiasa(4, 'B, D, F, G, M:CB', 468)
fcc.to_csv('raw data/IIASA/fcc.csv', index=False)
fcc

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'US'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'National'

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,2002,2003,2004,2005,2006,2007,Data Source,Country Code,Spatial Scale,ID
5,Fluid Catalytic Cracking Refineries,World,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06,Wilson & Grubler,World,Global,Fluid Catalytic Cracking Refineries_Net Total ...
11,Fluid Catalytic Cracking Refineries,World,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Fluid Catalytic Cracking Refineries_Net Total ...
13,Fluid Catalytic Cracking Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Fluid Catalytic Cracking Refineries_ Average C...
19,Fluid Catalytic Cracking Refineries,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Fluid Catalytic Cracking Refineries_Maximum Ca...

In [5]:
# iiasa = pd.read_excel('raw data/IR_09_029_Online_Material_2.xls', sheet_name=2, header=4, skipfooter=468)
# iiasa

In [6]:
coal = read_iiasa(30, 'B, D, F, G, M:DA', 442)
coal.to_csv('raw data/IIASA/coal.csv', index=False)
coal

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1908,1909,1910,1911,1912,1913,...,1995,1996,1997,1998,1999,2000,Data Source,Country Code,Spatial Scale,ID
5,Coal Power,World,Cumulative Total Capacity,MW,12.0,12.0,42.100000,57.1,101.100000,202.6,...,964192.213000,989955.513000,1.013839e+06,1.036414e+06,1.061707e+06,1.090642e+06,Wilson & Grubler,World,Global,Coal Power_Cumulative Total Capacity_World
11,Coal Power,World,Cumulative Total No. of Units,#,1.0,1.0,7.000000,8.0,11.000000,18.0,...,6600.000000,6708.000000,6.810000e+03,6.906000e+03,7.008000e+03,7.094000e+03,Wilson & Grubler,World,Global,Coal Power_Cumulative Total No. of Units_World
17,Coal Power,World,Average Capacity of Unit Additions,MW,12.0,0.0,5.016667,15.0,14.666667,14.5,...,215.075258,238.549074,2.341544e+02,2.351552e+02,2.479704e+02,3.364523e+02,Wilson & Grubler,World,Global,Coal Power_ Average Capacity of Unit Additions...
23,Coal Power,World,Maximum Capacity of Unit Additions,MW,12.0,0.0,10.000000,15.0,20.000000,20.0,...,1000.000000,660.000000,1.000000e+03,1.000000e+03,9.330000e+02,1.050000e+03,Wilson & Grubler,World,Global,Coal Power_Maximum Capacity of Unit Additions_...

In [7]:
# nuclear = read_iiasa(56, 'B, D, F, G, M:BE', 416)
# nuclear.replace('Global', 'World', inplace=True)
# nuclear.to_csv('raw data/IIASA/nuclear.csv', index=False)

In [8]:
# hydro = read_iiasa(82, 'B, D, F, G, M:EF', 390)
# hydro.replace('Global', 'World', inplace=True)
# hydro.to_csv('raw data/IIASA/hydro.csv', index=False)

In [9]:
gas = read_iiasa(108, 'B, D, F, G, M:DF', 364)
gas.to_csv('raw data/IIASA/gas.csv', index=False)
gas

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1903,1904,1905,1906,1907,1908,...,1995,1996,1997,1998,1999,2000,Data Source,Country Code,Spatial Scale,ID
5,Natural Gas Power,World,Cumulative Total Capacity,MW,10.0,10.0,10.0,16.0,16.0,19.1,...,436831.457850,459089.980850,478159.656850,495682.883850,521080.212850,565132.507850,Wilson & Grubler,World,Global,Natural Gas Power_Cumulative Total Capacity_World
11,Natural Gas Power,World,Cumulative Total No. of Units,#,1.0,1.0,1.0,3.0,3.0,4.0,...,11734.000000,12305.000000,12746.000000,13157.000000,13682.000000,14190.000000,Wilson & Grubler,World,Global,Natural Gas Power_Cumulative Total No. of Unit...
17,Natural Gas Power,World,Average Capacity of Unit Additions,MW,10.0,0.0,0.0,3.0,0.0,3.1,...,30.323686,38.981651,43.241896,42.635589,48.375865,86.717116,Wilson & Grubler,World,Global,Natural Gas Power_ Average Capacity of Unit Ad...
23,Natural Gas Power,World,Maximum Capacity of Unit Additions,MW,10.0,0.0,0.0,3.0,0.0,3.1,...,330.000000,350.000000,414.000000,627.000000,627.000000,735.000000,Wilson & Grubler,World,Global,Natural Gas Power_Maximum Capacity of Unit Add...

In [10]:
# wind = read_iiasa(134, 'B, D, F, G, M:AR', 338)
# wind.replace('Global', 'World', inplace=True)
# wind.to_csv('raw data/IIASA/wind.csv', index=False)

In [11]:
jets = read_iiasa(160, 'B, D, F, G, M:BJ', 312)
jets.to_csv('raw data/IIASA/jets.csv', index=False)
jets

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'US'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'National'

,Technology Name,Country Name,Metric,Unit,1958,1959,1960,1961,1962,1963,...,2002,2003,2004,2005,2006,2007,Data Source,Country Code,Spatial Scale,ID
1,Jet Aircraft,Boeing,Cumulative Total Capacity,MW,677.259154,7195.878514,14899.701394,21672.292937,27428.995749,30620.227111,...,1.022535e+06,1.048144e+06,1.071350e+06,1.094651e+06,1.127160e+06,1.164969e+06,Wilson & Grubler,US,National,Jet Aircraft_Cumulative Total Capacity_US
7,Jet Aircraft,Boeing,Cumulative Total No. of Units,#,8.000000,85.000000,176.000000,256.000000,324.000000,364.000000,...,1.099200e+04,1.127300e+04,1.155800e+04,1.184800e+04,1.224600e+04,1.268700e+04,Wilson & Grubler,US,National,Jet Aircraft_Cumulative Total No. of Units_US
13,Jet Aircraft,Boeing,Average Capacity of Unit Additions,MW,84.657394,84.657394,84.657394,84.657394,84.657394,79.780784,...,9.100723e+01,9.113601e+01,8.142266e+01,8.034766e+01,8.168215e+01,8.573432e+01,Wilson & Grubler,US,National,Jet Aircraft_ Average Capacity of Unit Additio...
19,Jet Aircraft,Boeing,Maximum Capacity of Unit Additions,MW,84.657394,85.777778,85.777778,85.777778,85.777778,85.777778,...,2.869622e+02,2.869622e+02,2.869622e+02,2.869622e+02,2.869622e+02,2.869622e+02,Wilson & Grubler,US,National,Jet Aircraft_Maximum Capacity of Unit Addition...

In [12]:
cars = read_iiasa(186, 'B, D, F, G, M:DN', 286)
cars.to_csv('raw data/IIASA/cars.csv', index=False)
cars

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'US'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'National'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1900,1901,1902,1903,1904,1905,...,2000,2001,2002,2003,2004,2005,Data Source,Country Code,Spatial Scale,ID
1,Passenger Cars,US,Cumulative Total Capacity,MW,0.000000,0.930704,4.472703,12.814652,39.409924,80.710951,...,3.977520e+07,4.066598e+07,4.165192e+07,4.263922e+07,4.365504e+07,4.468342e+07,Wilson & Grubler,US,National,Passenger Cars_Cumulative Total Capacity_US
5,Passenger Cars,World,Cumulative Total Capacity,MW,0.000000,1.080539,5.473023,16.447669,49.552006,102.484534,...,8.808015e+07,9.133297e+07,9.477454e+07,9.836355e+07,1.021587e+08,1.061214e+08,Wilson & Grubler,World,Global,Passenger Cars_Cumulative Total Capacity_World
7,Passenger Cars,US,Cumulative Total No. of Units,#,3554.582669,9490.193042,17121.692094,26648.346743,46006.916003,67205.524478,...,4.595610e+08,4.668217e+08,4.746258e+08,4.823076e+08,4.899088e+08,4.975209e+08,Wilson & Grubler,US,National,Passenger Cars_Cumulative Total No. of Units_US
11,Passenger Cars,World,Cumulative Total No. of Units,#,7344.508969,19329.566798,37171.530506,62245.949963,104192.493192,152722.356277,...,1.368493e+09,1.408354e+09,1.449617e+09,1.492112e+09,1.536406e+09,1.582059e+09,Wilson & Grubler,World,Global,Passenger Cars_Cumulative Total No. of Units_W...
13,Passenger Cars,US,Average Capacity of Unit Additions,MW,0.000000,0.000157,0.000464,0.000876,0.001374,0.001948,...,1.226842e-01,1.226842e-01,1.263355e-01,1.285263e-01,1.336382e-01,1.350987e-01,Wilson & Grubler,US,National,Passenger Cars_ Average Capacity of Unit Addit...
17,Passenger Cars,World,Average Capacity of Unit Additions,MW,0.000000,0.000090,0.000246,0.000438,0.000789,0.001091,...,8.281272e-02,8.160409e-02,8.340643e-02,8.445631e-02,8.567965e-02,8.680261e-02,Wilson & Grubler,World,Global,Passenger Cars_ Average Capacity of Unit Addit...
19,Passenger Cars,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Passenger Cars_Maximum Capacity of Unit Additi...
23,Passenger Cars,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Passenger Cars_Maximum Capacity of Unit Additi...

In [13]:
cfls = read_iiasa(212, 'B, D, F, G, M:Z', 260)
cfls.to_csv('raw data/IIASA/cfls.csv', index=False)
cfls

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1990,1991,1992,1993,1994,1995,...,1998,1999,2000,2001,2002,2003,Data Source,Country Code,Spatial Scale,ID
5,Compact Fluorescent Light Bulbs,World,Cumulative Total Capacity,MW,1.362359e+03,3.219603e+03,5.558955e+03,8.512634e+03,1.185708e+04,1.571134e+04,...,3.199206e+04,3.930766e+04,5.021676e+04,6.479658e+04,8.012904e+04,9.949150e+04,Wilson & Grubler,World,Global,Compact Fluorescent Light Bulbs_Cumulative Tot...
11,Compact Fluorescent Light Bulbs,World,Cumulative Total No. of Units,#,9.082395e+07,2.146402e+08,3.705970e+08,5.675090e+08,7.904721e+08,1.047422e+09,...,2.132804e+09,2.620510e+09,3.347784e+09,4.319772e+09,5.341936e+09,6.632766e+09,Wilson & Grubler,World,Global,Compact Fluorescent Light Bulbs_Cumulative Tot...
17,Compact Fluorescent Light Bulbs,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Compact Fluorescent Light Bulbs_ Average Capac...
23,Compact Fluorescent Light Bulbs,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Compact Fluorescent Light Bulbs_Maximum Capaci...

In [14]:
bikes = read_iiasa(238, 'B, D, F, G, M:FC', 234)
bikes.to_csv('raw data/IIASA/bikes.csv', index=False)
bikes

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1861,1862,1863,1864,1865,1866,...,2002,2003,2004,2005,2006,2007,Data Source,Country Code,Spatial Scale,ID
5,Bicycles,World,Cumulative Total Capacity,MW,0.0002,0.0144,0.0372,0.0686,0.1086,0.453767,...,2.916054e+05,3.019482e+05,3.139600e+05,3.240391e+05,3.352860e+05,3.455459e+05,Wilson & Grubler,World,Global,Bicycles_Cumulative Total Capacity_World
11,Bicycles,World,Cumulative Total No. of Units,#,2.0000,144.0000,372.0000,686.0000,1086.0000,4537.666667,...,2.916054e+09,3.019482e+09,3.139600e+09,3.240391e+09,3.352860e+09,3.455459e+09,Wilson & Grubler,World,Global,Bicycles_Cumulative Total No. of Units_World
17,Bicycles,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Bicycles_ Average Capacity of Unit Additions_W...
23,Bicycles,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Bicycles_Maximum Capacity of Unit Additions_World

In [15]:
ebikes = read_iiasa(264, 'B, D, F, G, M:Z', 208)
ebikes.to_csv('raw data/IIASA/ebikes.csv', index=False)
ebikes

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'CN'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'National'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1997,1998,1999,2000,2001,2002,...,2005,2006,2007,2008,2009,2010,Data Source,Country Code,Spatial Scale,ID
1,Electric Bicycles,China,Cumulative Total Capacity,MW,5.812500,26.931250,84.281250,197.818750,4.251650e+02,1.043034e+03,...,9.141784e+03,1.518678e+04,2.177428e+04,2.952428e+04,3.870416e+04,4.839166e+04,Wilson & Grubler,CN,National,Electric Bicycles_Cumulative Total Capacity_CN
5,Electric Bicycles,World,Cumulative Total Capacity,MW,6.054688,28.053385,87.792969,206.061198,4.428802e+02,1.086493e+03,...,9.522691e+03,1.581957e+04,2.268155e+04,3.075446e+04,4.031683e+04,5.040798e+04,Wilson & Grubler,World,Global,Electric Bicycles_Cumulative Total Capacity_World
7,Electric Bicycles,China,Cumulative Total No. of Units,#,15000.000000,69500.000000,217500.000000,510500.000000,1.097200e+06,2.691700e+06,...,2.359170e+07,3.919170e+07,5.619170e+07,7.619170e+07,9.988170e+07,1.248817e+08,Wilson & Grubler,CN,National,Electric Bicycles_Cumulative Total No. of Unit...
11,Electric Bicycles,World,Cumulative Total No. of Units,#,15625.000000,72395.833333,226562.500000,531770.833333,1.142917e+06,2.803854e+06,...,2.457469e+07,4.082469e+07,5.853302e+07,7.936635e+07,1.040434e+08,1.300851e+08,Wilson & Grubler,World,Global,Electric Bicycles_Cumulative Total No. of Unit...
13,Electric Bicycles,China,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,CN,National,Electric Bicycles_ Average Capacity of Unit Ad...
17,Electric Bicycles,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Electric Bicycles_ Average Capacity of Unit Ad...
19,Electric Bicycles,China,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,CN,National,Electric Bicycles_Maximum Capacity of Unit Add...
23,Electric Bicycles,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Electric Bicycles_Maximum Capacity of Unit Add...

In [16]:
# steamships = read_iiasa(290, 'B, D, F, G, M:EM', 182)
# steamships.replace('Global', 'World', inplace=True)
# steamships.to_csv('raw data/IIASA/steamships.csv', index=False)

In [17]:
locomotives = read_iiasa(316, 'B, D, F, G, M:DS', 156)
locomotives.to_csv('raw data/IIASA/locomotives.csv', index=False)
locomotives

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1830,1831,1832,1833,1834,1835,...,1935,1936,1937,1938,1939,1940,Data Source,Country Code,Spatial Scale,ID
5,Steam Locomotives,World,Cumulative Total Capacity,MW,74.597225,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Steam Locomotives_Cumulative Total Capacity_World
11,Steam Locomotives,World,Cumulative Total No. of Units,#,508.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Steam Locomotives_Cumulative Total No. of Unit...
17,Steam Locomotives,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.016288,Wilson & Grubler,World,Global,Steam Locomotives_ Average Capacity of Unit Ad...
23,Steam Locomotives,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Steam Locomotives_Maximum Capacity of Unit Add...

In [18]:
steam_engines = read_iiasa(342, 'B, D, F, G, M:HY', 130)
steam_engines.to_csv('raw data/IIASA/steam_engines.csv', index=False)
steam_engines

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1710,1711,1712,1713,1714,1715,...,1925,1926,1927,1928,1929,1930,Data Source,Country Code,Spatial Scale,ID
5,Stationary Steam Engines,World,Cumulative Total Capacity,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Stationary Steam Engines_Cumulative Total Capa...
11,Stationary Steam Engines,World,Cumulative Total No. of Units,#,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Stationary Steam Engines_Cumulative Total No. ...
17,Stationary Steam Engines,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Stationary Steam Engines_ Average Capacity of ...
23,Stationary Steam Engines,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Stationary Steam Engines_Maximum Capacity of U...

In [19]:
motorcycles = read_iiasa(368, 'B, D, F, G, M:DQ', 104)
motorcycles.to_csv('raw data/IIASA/motorcycles.csv', index=False)
motorcycles

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1900,1901,1902,1903,1904,1905,...,2003,2004,2005,2006,2007,2008,Data Source,Country Code,Spatial Scale,ID
5,Motorcycles,World,Cumulative Total Capacity,MW,1.352712,5.507541,16.098488,32.982155,57.490854,89.424628,...,6.187414e+06,6.481174e+06,6.805236e+06,7.156277e+06,7.525628e+06,7.901861e+06,Wilson & Grubler,World,Global,Motorcycles_Cumulative Total Capacity_World
11,Motorcycles,World,Cumulative Total No. of Units,#,1327.817939,5229.983504,15199.759051,30248.505697,50934.514577,76576.338417,...,6.201883e+08,6.548237e+08,6.930569e+08,7.347899e+08,7.799167e+08,8.279899e+08,Wilson & Grubler,World,Global,Motorcycles_Cumulative Total No. of Units_World
17,Motorcycles,World,Average Capacity of Unit Additions,MW,0.001065,0.001065,0.001062,0.001122,0.001185,0.001245,...,8.468489e-03,8.481524e-03,8.475925e-03,8.411588e-03,8.184756e-03,7.826230e-03,Wilson & Grubler,World,Global,Motorcycles_ Average Capacity of Unit Addition...
23,Motorcycles,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Motorcycles_Maximum Capacity of Unit Additions...

In [20]:
cellphones = read_iiasa(394, 'B, D, F, G, M:AS', 78)
#cellphones.replace('Global (All Manufacturers)', 'World', inplace=True)
#cellphones = cellphones[cellphones['Metric']=='Cumulative Total Capacity']
cellphones.to_csv('raw data/IIASA/cellphones.csv', index=False)
cellphones

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1978,1979,1980,1981,1982,1983,...,2005,2006,2007,2008,2009,2010,Data Source,Country Code,Spatial Scale,ID
5,Cellphones,World,Cumulative Total Capacity,MW,0.0,3.232805,7.546520e+00,1.330233e+01,2.098193e+01,3.122761e+01,...,1.739706e+04,2.185595e+04,2.704373e+04,3.254383e+04,3.799441e+04,4.517283e+04,Wilson & Grubler,World,Global,Cellphones_Cumulative Total Capacity_World
11,Cellphones,World,Cumulative Total No. of Units,#,0.0,718401.061613,1.677004e+06,2.956073e+06,4.662652e+06,6.939470e+06,...,3.866014e+09,4.856877e+09,6.009717e+09,7.231962e+09,8.443202e+09,1.003841e+10,Wilson & Grubler,World,Global,Cellphones_Cumulative Total No. of Units_World
17,Cellphones,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Cellphones_ Average Capacity of Unit Additions...
23,Cellphones,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Cellphones_Maximum Capacity of Unit Additions_...

In [21]:
washing_machines = read_iiasa(420, 'B, D, F, G, M:CW', 52)
#washing_machines.replace('Global', 'World', inplace=True)
washing_machines.to_csv('raw data/IIASA/washing_machines.csv', index=False)
washing_machines

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'US'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'National'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1920,1921,1922,1923,1924,1925,...,2003,2004,2005,2006,2007,2008,Data Source,Country Code,Spatial Scale,ID
1,Washing Machines,US,Cumulative Total Capacity,MW,13.795448,45.860542,9.619528e+01,1.647997e+02,2.516737e+02,3.568174e+02,...,6.814118e+05,7.041463e+05,7.281764e+05,7.535032e+05,7.801276e+05,8.086269e+05,Wilson & Grubler,US,National,Washing Machines_Cumulative Total Capacity_US
5,Washing Machines,World,Cumulative Total Capacity,MW,82.208242,174.281473,2.774035e+02,3.929002e+02,5.222564e+02,6.671354e+02,...,4.264253e+06,4.415849e+06,4.571863e+06,4.732424e+06,4.897660e+06,5.066480e+06,Wilson & Grubler,World,Global,Washing Machines_Cumulative Total Capacity_World
7,Washing Machines,US,Cumulative Total No. of Units,#,74000.000000,246000.000000,5.160000e+05,8.840000e+05,1.350000e+06,1.914000e+06,...,3.328870e+08,3.429900e+08,3.536650e+08,3.649120e+08,3.767310e+08,3.891220e+08,Wilson & Grubler,US,National,Washing Machines_Cumulative Total No. of Units_US
11,Washing Machines,World,Cumulative Total No. of Units,#,440972.273900,934861.220667,1.488017e+06,2.107551e+06,2.801430e+06,3.578573e+06,...,1.855570e+09,1.922938e+09,1.992245e+09,2.063546e+09,2.136897e+09,2.210297e+09,Wilson & Grubler,World,Global,Washing Machines_Cumulative Total No. of Units...
13,Washing Machines,US,Average Capacity of Unit Additions,MW,0.000186,0.000186,1.864250e-04,1.864250e-04,1.864250e-04,1.864250e-04,...,2.249465e-03,2.250267e-03,2.251070e-03,2.251872e-03,2.252674e-03,2.300000e-03,Wilson & Grubler,US,National,Washing Machines_ Average Capacity of Unit Add...
17,Washing Machines,World,Average Capacity of Unit Additions,MW,0.000186,0.000186,1.864250e-04,1.864250e-04,1.864250e-04,1.864250e-04,...,2.249465e-03,2.250267e-03,2.251070e-03,2.251872e-03,2.252674e-03,2.300000e-03,Wilson & Grubler,World,Global,Washing Machines_ Average Capacity of Unit Add...
19,Washing Machines,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Washing Machines_Maximum Capacity of Unit Addi...
23,Washing Machines,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Washing Machines_Maximum Capacity of Unit Addi...

In [22]:
refrigerators = read_iiasa(446, 'B, D, F, G, M:CZ', 26)
#refrigerators.replace('Global', 'World', inplace=True)
refrigerators.to_csv('raw data/IIASA/refrigerators.csv', index=False)
refrigerators

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'US'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'National'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1918,1919,1920,1921,1922,1923,...,2004,2005,2006,2007,2008,2009,Data Source,Country Code,Spatial Scale,ID
1,Refrigerators,US,Cumulative Total Capacity,MW,1.253082,2.645396,4.192411,5.911316,7.821212,9.943317e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Refrigerators_Cumulative Total Capacity_US
5,Refrigerators,World,Cumulative Total Capacity,MW,7.723709,16.305608,25.841051,36.435988,48.208140,6.128831e+01,...,2.422951e+05,2.476076e+05,2.531266e+05,2.586761e+05,2.641332e+05,2.697720e+05,Wilson & Grubler,World,Global,Refrigerators_Cumulative Total Capacity_World
7,Refrigerators,US,Cumulative Total No. of Units,#,21954.000090,46347.333524,73451.037339,103566.263801,137027.626536,1.742069e+05,...,3.649120e+08,3.767310e+08,3.891220e+08,NaN,NaN,NaN,Wilson & Grubler,US,National,Refrigerators_Cumulative Total No. of Units_US
11,Refrigerators,World,Cumulative Total No. of Units,#,135319.380295,285674.247289,452735.210616,638358.503201,844606.606074,1.073771e+06,...,2.265521e+09,2.373138e+09,2.489363e+09,2.610619e+09,2.734061e+09,2.865780e+09,Wilson & Grubler,World,Global,Refrigerators_Cumulative Total No. of Units_World
13,Refrigerators,US,Average Capacity of Unit Additions,MW,0.000057,0.000057,0.000057,0.000057,0.000057,5.707763e-05,...,5.140312e-05,4.936447e-05,4.748575e-05,4.576696e-05,4.420810e-05,4.280916e-05,Wilson & Grubler,US,National,Refrigerators_ Average Capacity of Unit Additi...
17,Refrigerators,World,Average Capacity of Unit Additions,MW,0.000057,0.000057,0.000057,0.000057,0.000057,5.707763e-05,...,5.140312e-05,4.936447e-05,4.748575e-05,4.576696e-05,4.420810e-05,4.280916e-05,Wilson & Grubler,World,Global,Refrigerators_ Average Capacity of Unit Additi...
19,Refrigerators,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Refrigerators_Maximum Capacity of Unit Additio...
23,Refrigerators,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Refrigerators_Maximum Capacity of Unit Additio...

In [23]:
laundry_dryers = read_iiasa(472, 'B, D, F, G, M:CU')
#laundry_dryers.replace('Global', 'World', inplace=True)
laundry_dryers.to_csv('raw data/IIASA/laundry_dryers.csv', index=False)
laundry_dryers

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'US'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'National'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Name'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'].loc[idx] = 'World'
/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_51275/486398659.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'].loc[idx] = 'Global'

,Technology Name,Country Name,Metric,Unit,1920,1921,1922,1923,1924,1925,...,2001,2002,2003,2004,2005,2006,Data Source,Country Code,Spatial Scale,ID
1,Laundry Dryers,US,Cumulative Total Capacity,MW,192.305008,413.455768,667.779141,960.251021,1.296594e+03,1.683388e+03,...,5.938904e+05,6.146125e+05,6.366596e+05,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_Cumulative Total Capacity_US
5,Laundry Dryers,World,Cumulative Total Capacity,MW,549.442881,1181.302194,1907.940404,2743.574346,3.704553e+03,4.809679e+03,...,1.522424e+06,1.558049e+06,1.595380e+06,1.640330e+06,1.683075e+06,1.725127e+06,Wilson & Grubler,World,Global,Laundry Dryers_Cumulative Total Capacity_World
7,Laundry Dryers,US,Cumulative Total No. of Units,#,62845.320065,135117.438140,218230.373926,313810.250080,4.237271e+05,5.501315e+05,...,1.940835e+08,2.008555e+08,2.080605e+08,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_Cumulative Total No. of Units_US
11,Laundry Dryers,World,Cumulative Total No. of Units,#,179558.057329,386049.823257,623515.354074,896600.714513,1.210649e+06,1.571804e+06,...,4.975286e+08,5.091707e+08,5.213705e+08,5.360602e+08,5.500294e+08,5.637719e+08,Wilson & Grubler,World,Global,Laundry Dryers_Cumulative Total No. of Units_W...
13,Laundry Dryers,US,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_ Average Capacity of Unit Addit...
17,Laundry Dryers,World,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Laundry Dryers_ Average Capacity of Unit Addit...
19,Laundry Dryers,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,US,National,Laundry Dryers_Maximum Capacity of Unit Additi...
23,Laundry Dryers,World,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Wilson & Grubler,World,Global,Laundry Dryers_Maximum Capacity of Unit Additi...

In [24]:
frame = pd.read_csv('cleaned data/frame.csv')

In [25]:
path = '/Users/ariana/desktop/historical_tech/raw data/IIASA/'
os.chdir(path)
iiasa_files = os.listdir(path)

In [26]:
csv = []
for file in iiasa_files:
     if '.csv' in file:
        name = path + file
        csv.append(name)

In [27]:
df_list = [frame]
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [28]:
iiasa = pd.concat(df_list)
iiasa.reset_index(drop=True, inplace=True)

In [29]:
omit = []
for col in iiasa.columns:
    if len(col) != 4 or col == 'Unit':
        omit.append(col)
drop_empty_rows = iiasa.drop(columns=omit)
drop_empty_rows.dropna(how='all', inplace=True)
na_idx = []
for row in iiasa.index:
    if row not in drop_empty_rows.index:
        na_idx.append(row)
iiasa.drop(na_idx, inplace=True)

In [30]:
tech_list = set(iiasa['Technology Name'])
tech_list

{'Bicycles',
 'Cellphones',
 'Coal Power',
 'Compact Fluorescent Light Bulbs',
 'Electric Bicycles',
 'Fluid Catalytic Cracking Refineries',
 'Jet Aircraft',
 'Laundry Dryers',
 'Motorcycles',
 'Natural Gas Power',
 'Passenger Cars',
 'Refrigerators',
 'Stationary Steam Engines',
 'Steam Locomotives',
 'Washing Machines'}

In [31]:
drop_id = []
for tech in tech_list:
    df = iiasa[iiasa['Technology Name']==tech]
    country_list = list(set(df['Country Name']))
    for country in country_list:
        df_country = df[df['Country Name']==country]
        metric_list = list(set(df_country['Metric']))
        if len(metric_list) > 1:
            to_drop_df = df_country[df_country['Metric']!='Cumulative Total Capacity']
            id_list = list(set(to_drop_df['ID']))
            drop_id.extend(id_list)
drop_id

['Bicycles_Cumulative Total No. of Units_World',
 'Electric Bicycles_Cumulative Total No. of Units_CN',
 'Electric Bicycles_Cumulative Total No. of Units_World',
 'Steam Locomotives_Cumulative Total No. of Units_World',
 'Steam Locomotives_ Average Capacity of Unit Additions_World',
 'Motorcycles_Cumulative Total No. of Units_World',
 'Motorcycles_ Average Capacity of Unit Additions_World',
 'Coal Power_ Average Capacity of Unit Additions_World',
 'Coal Power_Maximum Capacity of Unit Additions_World',
 'Coal Power_Cumulative Total No. of Units_World',
 'Compact Fluorescent Light Bulbs_Cumulative Total No. of Units_World',
 'Washing Machines_ Average Capacity of Unit Additions_US',
 'Washing Machines_Cumulative Total No. of Units_US',
 'Washing Machines_ Average Capacity of Unit Additions_World',
 'Washing Machines_Cumulative Total No. of Units_World',
 'Stationary Steam Engines_Cumulative Total No. of Units_World',
 'Stationary Steam Engines_ Average Capacity of Unit Additions_World',
 'Laundry Dryers_Cumulative Total No. of Units_US',
 'Laundry Dryers_Cumulative Total No. of Units_World',
 'Cellphones_Cumulative Total No. of Units_World',
 'Passenger Cars_Cumulative Total No. of Units_US',
 'Passenger Cars_ Average Capacity of Unit Additions_US',
 'Passenger Cars_Cumulative Total No. of Units_World',
 'Passenger Cars_ Average Capacity of Unit Additions_World',
 'Jet Aircraft_Maximum Capacity of Unit Additions_US',
 'Jet Aircraft_Cumulative Total No. of Units_US',
 'Jet Aircraft_ Average Capacity of Unit Additions_US',
 'Refrigerators_Cumulative Total No. of Units_US',
 'Refrigerators_ Average Capacity of Unit Additions_US',
 'Refrigerators_Cumulative Total No. of Units_World',
 'Refrigerators_ Average Capacity of Unit Additions_World',
 'Natural Gas Power_Cumulative Total No. of Units_World',
 'Natural Gas Power_Maximum Capacity of Unit Additions_World',
 'Natural Gas Power_ Average Capacity of Unit Additions_World']

In [32]:
drop_list = []
for item in drop_id:
    idx = iiasa.index[iiasa['ID'] == item].tolist()
    drop_list.extend(idx)
drop_list

[9,
 46,
 47,
 57,
 58,
 25,
 26,
 54,
 55,
 53,
 61,
 4,
 2,
 5,
 3,
 77,
 78,
 34,
 35,
 41,
 66,
 68,
 67,
 69,
 23,
 21,
 22,
 14,
 16,
 15,
 17,
 29,
 31,
 30]

In [33]:
iiasa.drop(drop_list, inplace=True)

In [34]:
iiasa[iiasa['Technology Name']=='Natural Gas Power']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
28,Natural Gas Power_Cumulative Total Capacity_World,Global,World,World,Natural Gas Power,Cumulative Total Capacity,MW,Wilson & Grubler,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
path = '/Users/ariana/desktop/historical_tech/cleaned data/'
os.chdir(path)
iiasa.to_csv('iiasa.csv', index=False)