In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame

In [2]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [3]:
# https://doi.org/10.1016/j.enpol.2013.10.069

In [4]:
## adjusting for inflation from 2012 USD to 2022 USD
nipa = pd.read_excel('inflation/A001RG3A086NBEA.xls', header=10)

year_list = []
for x in nipa['observation_date']:
    x = int(str(x)[:4])
    year_list.append(x)
nipa['Year'] = year_list
nipa.set_index('Year', drop=True, inplace=True)
nipa.drop(columns='observation_date', inplace=True)
nipa = nipa.transpose()

infl_2012_2022 = float(nipa[2022]/nipa[2012])
infl_2012_2022

1.27197

In [5]:
df = pd.read_excel('raw data/cost data/Ansar et al.xlsx', usecols=[0,1,13])
df = df[df['Source']=='Hydro']
num_list = []
for x in df['Cost/kW**']:
    num = float(x.replace(',','.'))
    num_list.append(num)
df['2012 USD/kW'] = num_list
df.drop(columns=['Source', 'Cost/kW**'], inplace=True)
df = df.groupby(['Date']).mean()
df = df.transpose()
# adjust for inflation
df.iloc[0] = df.iloc[0] * infl_2012_2022
df['Data Source'] = 'Ansar et al.'
df['Country Name'] = 'World'
df['Country Code'] = 'World'
df['Spatial Scale'] = 'Global'
df['Metric'] = 'Price'
df['Technology Name'] = 'Hydropower Mega-Dams'
df['Unit'] = '2022 USD/kW'
df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
df.set_index('ID', drop=True, inplace=True)
df

Date,1936,1942,1948,1950,1953,1956,1959,1963,1968,1970,...,2011,2012,2013,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Hydropower Mega-Dams_Price_World,1707.746922,2501.583399,186.725196,189.396333,196.519365,5331.716649,3900.877596,234.424071,2316.002976,3137.94999,...,1662.401192,3362.579892,13176.973215,Ansar et al.,World,World,Global,Price,Hydropower Mega-Dams,2022 USD/kW

In [6]:
df.to_csv('cleaned data/megadams_price.csv')