In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame

In [2]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [3]:
# https://pure.iiasa.ac.at/id/eprint/10749/1/IR-13-008.pdf
# digitized from figures 16-18

In [8]:
## adjusting for inflation from 1982 USD to 2022 USD
nipa = pd.read_excel('A001RG3A086NBEA.xls', header=10)

year_list = []
for x in nipa['observation_date']:
    x = int(str(x)[:4])
    year_list.append(x)
nipa['Year'] = year_list
nipa.set_index('Year', drop=True, inplace=True)
nipa.drop(columns='observation_date', inplace=True)
nipa = nipa.transpose()

infl_1982_2022 = float(nipa[2022]/nipa[1982])
infl_1982_2022

2.5938455891349568

In [10]:
fgd = pd.read_csv('raw data/cost data/healey/fig17-19 digitized.csv', index_col=0)
fgd = fgd.transpose()
fgd.iloc[0] = fgd.iloc[0] * infl_1982_2022
fgd['Unit'] = '2022 USD/MW'
fgd['Data Source'] = 'Healey'
fgd['Spatial Scale'] = 'Global'
fgd['Country Code'] = 'World'
fgd['Country Name'] = 'World'
fgd['Metric'] = 'Price'
fgd['Technology Name'] = 'Flue Gas Desulphurization (Wet and Dry)'
fgd['ID'] = fgd['Technology Name'] + '_' + fgd['Metric'] + '_' + fgd['Country Code']
fgd.set_index('ID', drop=True, inplace=True)
fgd.columns.name = None
fgd

,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2008,2009,2010,Unit,Data Source,Spatial Scale,Country Code,Country Name,Metric,Technology Name
ID,,,,,,,,,,,,,,,,,,,,,
Flue Gas Desulphurization (Wet and Dry)_Price_World,68.660619,68.660619,9.80866,307.338007,467.546117,225.599175,225.599175,451.19835,415.233264,304.068454,...,455.297055,790.037955,464.521622,2022 USD/MW,Healey,Global,World,World,Price,Flue Gas Desulphurization (Wet and Dry)

In [11]:
fgd.to_csv('cleaned data/fgd_price.csv')